/* MIX */
body {
  font-family: 'Roboto', sans-serif;
}

ul {
  padding-left: 0;
}

h2 {
  font-weight: 700;
}

button, input {
  outline: none;
}

a:hover {
  text-decoration: none;
}

p {
  font-weight: 500;
  line-height: 32px;
}

li {
  list-style: none;
}

/* colori */
.color_gray {
  color: #5b6987;
}

.color_blue {
  color: #006aff;
}

.bg_lightgrey {
  background-color: #f3f5f9;
}
/* /colori */

/* HEADER  */
.header_top {
  height:60px;
  line-height: 60px;
  background-color: white;
}

.logo {
  height: 30px;
}

.central_nav, .signup_nav {
  padding-top: 4px;
  font-weight: 500;
}

.central_nav a, .signup_nav a {
  color: black;
}

.central_nav li, .signup_nav li {
  margin-right: 8px;
}
/* bottoni */
.btn_signup {
  background: white;
  border: 1px solid #006aff;
  color: #006aff;
  font-weight: 500;
}

.btn_signup:hover {
  background: #006aff;
  color: white;
  transition: 0.5s;
}
/* /bottoni */

.hamburger {
  position:absolute;
  left:-9999px;
  font-size: 30px;
  color: #006aff;
}

/* hero */
.hero {
  font-weight: 500;
  padding: 100px;
  background-color:#0069ff;
  background-size: cover;
  background-position: center;
  background-image:url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
}

.box_left_hero {
  padding-top: 80px;
}

.hero h1 {
  font-size: 62px;
  color: white;
}

.box_left_hero p {
  color: lightgrey;
  font-size: 20px;
}

.box_right_hero {
  margin-left: 50px;
  margin-top:72px;
  border-radius: 5px;
  background-color: white;
  padding:20px;
}

.box_right_hero p {
  font-size: 15px;
  padding-top: 15px;
}

.form_hero input {
  width:100%;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 7px;
  font-size: 20px;
}

.btn_hero {
  width:100%;
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.btn_account {
  color:white;
  background-color: rgb(66, 133, 244);
}

.btn_account:hover {
  background-color: #006aff;
}

.btn_google {
  background-color: white;
  background-image: url("../img/google-icon.png");
  background-position: 5% center;
  background-size: 5%;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 2px 1px lightgray;
  color: dimgray;
}

/* /hero */
/* /HEADER */
/* MAIN */
/* section_logos */
.section_logos {
  font-weight: 500;
}

.section_logos h4 {
  padding: 40px 0;
  color: rgb(91, 105, 135);
}

.section_logos img {
  height:90px;
}

.section_logos a {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  padding:20px 0;
}

.section_logos i {
  position: relative;
  font-size: 20px;
  top: 2px;
  left: 5px;
}
/* /section_logos */
/* section_deploy */
.section_deploy {
  font-weight: 500;
  padding: 50px;
}

.section_deploy h2 {
  color: black;
}

.title_deploy p {
  font-size: 20px;
  margin-bottom: 60px;
}

.list_left_deploy ul {
  border-left: 1px solid #5b6987;
  padding-left: 15px;
}

.list_left_deploy li {
 padding: 10px 0;
 font-size: 18px;
}

.boxes_right_deploy h4 {
  color: black;
  padding: 10px 0;
}

.boxes_right_deploy p {
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 20px;
}
/* /section_deploy */
/* section slide */
.section_slide {
  padding: 60px;
}


.section_slide img {
 margin-top: 30px;
 width: 60%;
}

.section_slide p {
  font-size: 18px;
  margin: 20px 0;
}

.slide i {
  font-size: 40px;
  margin: 0 25px;
}

.bullet button {
  height:15px;
  width:15px;
  border-radius: 50%;
  border: 1px solid #006aff;
  margin-right: 5px;
}

.bullet button:first-child{
  background-color: #006aff;
}
/* /section slide */

/* /MAIN */
/* RESPONSIVE */
/* DESKTOP */
@media screen and (min-width:992px) and (max-width:1200px) {
  /* hero */
  .box_left_hero h1 {
    font-size: 50px;
  }
  .box_left_hero p {
    font-size: 18px;
  }
  /* /hero */
  /* section_logos */
  .list_logo img {
    height: 70px;
  }
  /* /section logos */
}

/* TABLLET */
@media screen and (min-width:768px) and (max-width:991px) {
  /* header top */
 .central_nav ul, .signup_nav ul {
   display: none;
 }
 .hamburger {
   left: 0px;
 }
 /* /header top */
 /* hero */

 .box_left_hero h1 {
   font-size: 40px;
 }
 /* /hero */
 /* section_logos */
 .list_logo img {
   height: 60px;
 }
 /* /section logos */
}

/* SMARTPHONE */
@media screen and (max-width:767px) {
  /* header_top */
  .central_nav ul, .signup_nav ul {
    display: none;
  }
  .hamburger {
    left: 0px;
  }
  /* /header_top */
  /* hero */
  .hero {
    padding: 15px;
  }

  .box_right_hero {
    margin-left: 0px;
  }

  .box_left_hero {
    margin-left: 50px;
  }

  .box_right_hero{
    margin: 20px 0;
  }

  .box_left_hero h1 {
    font-size: 40px;
  }
  /* /hero */
  /* section_logos */
  .list_logo img {
    height: 100px;
  }

  .section_logos a {
    padding: 50px 0;
  }
  /* section_logos */
  /* section deploy */
  .title_deploy p {
    font-size: 18px;
  }

  .list_left_deploy {
    margin-bottom: 50px;
  }
  .boxes_right_deploy h4 {
    font-size: 20px;
  }

  .boxes_right_deploy img {
    height: 60px;
  }
  /* /section deploy */
  /* section_slide */
  .section_slide p {
    font-size: 16px;
    line-height: 25px;
  }

  .section_slide h2 {
    font-size: 35px;
  }
  
  .slide i {
    display: none;
  }

  .slide img {
    margin-top: 35px;
  }

  .bullet button {
    margin-top: 30px;
  }
  /* /section_slide */
}
