/* MIX */
body {
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: none;
}

/* HEADER  */
.header_top {
  height:60px;
  line-height: 60px;
  background-color: white;
}

.logo {
  height: 30px;
}

.central_nav, .signup_nav {
  padding-top: 4px;
  font-weight: 500;
}

.central_nav a, .signup_nav a {
  color: black;
}

.central_nav li, .signup_nav li {
  margin-right: 8px;
}
/* bottoni */
.btn_signup {
  background: white;
  border: 1px solid #006aff;
  color: #006aff;
  font-weight: 500;
}

.btn_signup:hover {
  background: #006aff;
  color: white;
  transition: 0.5s;
}
/* /bottoni */

.hamburger {
  position:absolute;
  left:-9999px;
  font-size: 30px;
  color: #006aff;
}

/* hero */
.hero {
  padding-top: 100px;
  height: 75vh;
  background-color:#0069ff;
  background-size: cover;
  background-position: center;
  background-image:url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
}

.text_left_hero {
  padding-top: 80px;
}

.hero h1 {
  font-size: 60px;
  color: white;
}

.hero p {
  font-weight: 500;
  font-size: 20px;
  color: lightgrey;
}
/* /hero */

/* /HEADER */
/* RESPONSIVE */
/* DESKTOP */
@media screen and (min-width:992px) and (max-width:1200px) {

}

/* TABLLET */
@media screen and (min-width:768px) and (max-width:991px) {
  /* header top */
 .central_nav ul, .signup_nav ul {
   display: none;
 }
 .hamburger {
   left: 0px;
 }
 /* /header top */

}

/* SMARTPHONE */
@media screen and (max-width:767px) {
  /* header_top */
  .central_nav ul, .signup_nav ul {
    display: none;
  }
  .hamburger {
    left: 0px;
  }
  /* /header_top */
}
