/* MIX */
body {
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: none;
}

.color_blue {
  color: #006aff;
}

/* HEADER  */
.header_top {
  height:60px;
  line-height: 60px;
  background-color: white;
}

.logo {
  height: 30px;
}

.central_nav, .signup_nav {
  padding-top: 4px;
  font-weight: 500;
}

.central_nav a, .signup_nav a {
  color: black;
}

.central_nav li, .signup_nav li {
  margin-right: 8px;
}
/* bottoni */
.btn_signup {
  background: white;
  border: 1px solid #006aff;
  color: #006aff;
  font-weight: 500;
}

.btn_signup:hover {
  background: #006aff;
  color: white;
  transition: 0.5s;
}
/* /bottoni */

.hamburger {
  position:absolute;
  left:-9999px;
  font-size: 30px;
  color: #006aff;
}

/* hero */
.hero {
  padding: 100px;
  background-color:#0069ff;
  background-size: cover;
  background-position: center;
  background-image:url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
}

.box_left_hero {
  padding-top: 80px;
}

.hero h1 {
  font-size: 62px;
  color: white;
}

.box_left_hero p {
  font-weight: 500;
  font-size: 20px;
  color: lightgrey;
  line-height: 32px;
}

.box_right_hero {
  margin-left: 50px;
  margin-top:72px;
  border-radius: 5px;
  background-color: white;
  padding:20px;
}
.box_right_hero h2 {
 color: black;
 font-weight: 700;
}

.box_right_hero p {
  padding-top: 25px;
  font-weight: 500;
}

.form_hero input{
  width:100%;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 6px;
  font-size: 20px;
}

.btn_hero {
  width:100%;
  margin-top: 15px;
  padding: 10px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
}

.btn_account {
  color:white;
  background-color: rgb(66, 133, 244);
}

.btn_account:hover {
  background-color: #006aff;
}

.btn_google {
  background-color: white;
  background-image: url("../img/google-icon.png");
  background-position: 5% center;
  background-size: 5%;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 2px 1px lightgray;
  color: dimgray;
}

/* /hero */

/* /HEADER */
/* RESPONSIVE */
/* DESKTOP */
@media screen and (min-width:992px) and (max-width:1200px) {
  /* hero */
  .box_left_hero h1 {
    font-size: 50px;
  }
  .box_left_hero p {
    font-size: 18px;
  }
  /* /hero */
}

/* TABLLET */
@media screen and (min-width:768px) and (max-width:991px) {
  /* header top */
 .central_nav ul, .signup_nav ul {
   display: none;
 }
 .hamburger {
   left: 0px;
 }
 /* /header top */
 /* hero */

 .box_left_hero h1 {
   font-size: 40px;
 }

 /* /hero */
}

/* SMARTPHONE */
@media screen and (max-width:767px) {
  /* header_top */
  .central_nav ul, .signup_nav ul {
    display: none;
  }
  .hamburger {
    left: 0px;
  }
  /* /header_top */
  /* hero */
  .hero {
    padding: 10px;
  }

  .box_right_hero {
    margin-left: 0px;
  }

  .box_left_hero {
    margin-left: 50px;
  }

  .box_right_hero{
    margin: 20px 0;
  }

  .box_left_hero h1 {
    font-size: 40px;
  }
  /* /hero */
}
